<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.circle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/btn_weixin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".regist"
            android:label="@string/title_activity_regist" />
        <activity
            android:name=".comment"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".publish"
            android:label="@string/title_activity_publish" />
    </application>

</manifest>
